@font-face {
  font-family: fontseed;
  src: url(../assets/data-latin.ttf);
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.header{
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  gap:15px;
  position: absolute;
  bottom: 40px;
}

.img_social_net{
    max-width: 30px;
    max-height: 30px;
}

.img_social_net:hover{
      -webkit-box-shadow: 0px 0px 30px -1px rgba(255,255,255,0.71);
-moz-box-shadow: 0px 0px 30px -1px rgba(255,255,255,0.71);
box-shadow: 0px 0px 30px -1px rgba(255,255,255,0.71);
}

.animation_background{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100hv;
  width: 100%;
  color: aliceblue;
  background-color: black;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}


.img_yoo {
  max-width: 150px;
  border-radius: 50%;
}
.icon_tel{
  max-width: 30px;
  max-height: 30px;
  border-radius: 10%;
  margin: 3px;
}

.tel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.tel > p {
  margin-left: 4px;
}

.dats {
  font-family: fontseed;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{

  font-family: fontseed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0px;

}

.carrousell_technologies {
  position: relative;
  width: 320px;
  margin: 50px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: auto 100px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.15);
  display: flex;

  
}

span {
  margin: auto;
  font-size: 2rem;
}


.carousel__face:nth-child(1) {
  background-image: url("../assets/aws.png");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url("../assets/docker.png");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("../assets/golang.png");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("../assets/python.png");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("../assets/javascript.png");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("../assets/django.png");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("../assets/fastapi.png");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("../assets/gingonic.png");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("../assets/sql.png");
  transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}


